<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

    <body>
    <!---->
        <nav th:replace="layouts :: navbar">
        </nav>

        <div class="container">
            <h4>Create a new Project</h4>
            <form th:action="@{/projects/save}" th:object="${project}" method="POST">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Enter a project name" name="name" th:field="*{name}">
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('stage')} ? has-error : ''">
                    <label class="control-label col-sm-2" for="stage">Stage:</label>
                        <div class="col-sm-10" th:classappend="${#fields.hasErrors('stage')} ? 'input-icon right' : ''">
                            <i th:if="${#fields.hasErrors('stage')}" class="fa fa-exclamation tooltips" data-original-title="please select a stage" data-container="body"></i>
                            <select th:field="${project.stage}" class="form-control" id="stage" name="stage">
                                <option value=""> -select- </option>
                                <option th:value="NOTSTARTED"> Not Started</option>
                                <option th:value="INPROGRESS"> In Progress</option>
                                <option th:value="COMPLETED"> Completed</option>
                            </select>
                            <span th:if="${#fields.hasErrors('stage')}" class="help-block" th:errors="*{stage}"></span>
                        </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description:</label>
                    <div class="col-sm-10">
                        <textarea type="text" placeholder="Enter the project description" th:field="${project.description}" class="form-control"   id="description" name="description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </form>
        </div>

    </body>

</html>