<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layouts :: header"></head>

    <body>

        <nav th:replace="layouts :: navbar"></nav>

        <div class="container">

            <h4>Main Dashboard</h4>
            <a th:text="${versionNumber}"></a>

            <h4> Current Projects </h4>
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th> Project Name </th>
                                <th> Project Stage </th>
    <!--                            <th> Project Count</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each ="project: ${projects}">
                                <td th:text="${project.Name}"/>
                                <td th:text="${project.stage}"/>
    <!--                            <td th:text="${employeeProjectsCount.projectCount}"/>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th> Project Stage </th>
                            <th> Project Count </th>
                            <!--                            <th> Project Count</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each ="projectStage: ${projectStages}">
                            <td th:text="${projectStage.stage}"/>
                            <td th:text="${projectStage.count}"/>
                            <!--                            <td th:text="${employeeProjectsCount.projectCount}"/>-->
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <canvas id="myPieChart" height="50" width="50"></canvas>
                        <canvas id="myChart"></canvas>
                    <!--   json              -->
                        <script>
                            var chartData = "[[${jsonProjectStages}]]"
                        </script>
                </div>

            </div>

    </div>

        <div class="container">
            <h4> Employee Project count </h4>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th> Email </th>
                            <th> Project Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each ="employeeProjectsCount: ${employeeProjectsCounts}">
                            <td th:text="${employeeProjectsCount.firstName}"/>
                            <td th:text="${employeeProjectsCount.lastName}"/>
                            <td th:text="${employeeProjectsCount.email}"/>
                            <td th:text="${employeeProjectsCount.projectCount}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        </div>

        <script type="text/javascript" th:src="@{js/myChart.js}"></script>

    </body>


</html>