
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="layouts :: header"></head> -->

<body>
<!---->
    <nav th:replace="layouts :: navbar">
    </nav>

    <div class="container">

        <h3>Employees</h3>
            <!--  Add New Project Button -->
        <div>
            <a th:href="@{/employees/new}"
               class="btn btn-primary btn-sm mb-3">
                New Employee
            </a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Employee FirstName </th>
                <th>Employee LastName</th>
                <th>Employee Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each ="employee: ${employees}">
                <td th:text="${employee.firstName}"/>
                <td th:text="${employee.lastName}"/>
                <td th:text="${employee.email}"/>
            </tr>
            </tbody>
        </table>
    </div>

</body>

</html>