<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

    <body>
    <!---->
        <nav th:replace="layouts :: navbar">
        </nav>

        <div class="container">
            <h4>Create a new Project</h4>
            <form th:action="@{/employees/save}" th:object="${employee}" method="POST">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="firstName">First name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="name" th:field="${employee.firstName}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lastName">Last name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="name" th:field="*{lastName}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Last name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" placeholder="Enter your email" name="name" th:field="*{email}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Add Employee</button>
                    </div>
                </div>
            </form>
        </div>




    </body>

</html>